.project-card-list {
    display: flex;
    margin-top: 40px;
    margin-bottom: 10px;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
}